<p>What up!</p>
<p>
    Evreyone has an opinion!  <b>Someone has posted thiers on the Coffe shop you aded to Grindstone!</b>
      Check it out <%= link_to 'here', place_url(@place) %>.
</p>

Happy Grinding,<br />
Dylan