/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
:root {
  /* Base font size */
  font-size: 10px;   
  
  /* Set neon color */
   --neon-text-color: #f40;
   --neon-border-color: #08f;
 
}
body {
 background: url('bg3.jpeg') 
 no-repeat center center fixed;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: cover;
  width: cover;
}
  
.navbar {
  background: image_url('bg3.jpeg');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {
font-size:26px;
color: #fff;
font-family: 'fontspring_demo_-_intro_rusRg';
text-transform: uppercase;
padding: 6px; 
border: 2px solid #fff;
animation: flicker 1.5s infinite alternate; 
position: relative;
padding-bottom: 5px; 
}


@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.02rem -0.02rem .1rem #fff,
            0.02rem 0.02rem .1rem #fff,
            0 0 .2rem var(--neon-text-color),
            0 0 .4rem var(--neon-text-color),
            0 0 .6rem var(--neon-text-color),
            0 0 .8rem var(--neon-text-color),
            0 0 .10rem var(--neon-text-color);

        box-shadow:
            0 0 .25px #fff,
            inset 0 0 .25px #fff,
            0 0 1px var(--neon-border-color),
            inset 0 0 2px var(--neon-border-color),
            0 0 2px var(--neon-border-color),
            inset 0 0 2px var(--neon-border-color);  
            
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        
    }    
}
