@font-face {
    font-family: 'fontspring_demo_-_intro_rusRg';
    src: font_url('fontspring-demo-introrustg-base2line-webfont.woff2') format('woff2'),
         font_url('fontspring-demo-introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}