@import "bootstrap";
@import "font-awesome";



   #map {
      height: 300px;
    }

 .place-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: -10px;
  margin-bottom: 15px;
  padding-top: 0px;
  }


.booyah-box {
  background-color: #5A6067;
  opacity:  .9;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
  text-orientation: left;
  color: white;

  }

  .booyah-box2 {
  background-color: #5A6067;
  opacity:  .9;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
  text-orientation: left;
  color: white;

  }

  h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  }


  .clear {
    clear: both;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  max-width: 733px;
  margin-left: auto;
  margin-right: auto;

}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 733px;
  margin-left: auto;
  margin-right: auto;

}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
  max-width: 733px;
  margin-left: auto;
  margin-right: auto;
}


.pagination {
  margin-top: 10px;
  text-align: center;
  background: white;
  cursor: default;
  height: 24px;
  display: block;
  float: center;
  margin-right: 1px;

  .disabled {
    display: none;}

}

.button {
  border-bottom: 20px;
  border-left: 10px;
  border-color: #718ab6;
  background-color: #718ab6;
  border-radius: 20px;
  color: white;
  padding: 8px
   24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}


.button_delete {
  border-left: 10px;
  background-color: #F3768D;
  border-radius: 20px;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

abbr[title="required"] {
  display: none;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.clear {
    clear: both;
}

.place_pic{
object-fit: contain;
max-height: 100px;

}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.user {
  float: inherit;
}
