<p>What up <%= @resource.email %>!</p>

<p>You're so stupid, I can not believe you forgot your password, again! Here's alink to rest it, idiot.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
